In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 28 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 43.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=03bb7e1c0163639bc6950a7d47cf2e42c086fdf906b5a7acbd7abc80ee064399
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

## RDD

### i) Parallelized
### ii) Dataset in an storage system

In [ ]:
# i) Parallelized
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
df = spark.sparkContext.parallelize([(12,35,'abc'),
                                   (41,58, 'def'),
                                   (23,32, 'ghi')]).toDF(['col1','col2','col3'])

In [ ]:
df.show

In [ ]:
#using createDataFrame() function
student = spark.createDataFrame([
    ('00901', 'abhi', '70%', 'EC'),('00902','shash','80%','VC')
],['RollNum','Name','Precentage','Department'])

In [ ]:
student.show()

+-------+-----+----------+----------+
|RollNum| Name|Precentage|Department|
+-------+-----+----------+----------+
|  00901| abhi|       70%|        EC|
|  00902|shash|       80%|        VC|
+-------+-----+----------+----------+

## Various operations in RDD's

In [ ]:
# i) count()
words = spark.sparkContext.parallelize([
    "Python", "Java", "Hadoop", "C", "C++", "Spark vs Hadoop", "Pyspark and Spark"
])
count = words.count()
print("Number of elements present in RDD-> " ,count)

Number of elements present in RDD->  7

In [ ]:
# ii) collect() this function returns the entire elements in the RDD
words = spark.sparkContext.parallelize([
    "Python", "Java", "Hadoop", "C", "C++", "Spark vs Hadoop", "Pyspark and Spark"
])
count = words.collect()
print("Number of elements present in RDD-> " %(count))

Number of elements present in RDD->

In [ ]:
# iii) foreach(f) this function returns only those elements which match the condition of the functions inside foreach
words = spark.sparkContext.parallelize([
    "Python", "Java", "Hadoop", "C", "C++", "Spark vs Hadoop", "Pyspark and Spark"
])
def f(x):
    print(x)
    fore = words.foreach(f)
    print(x)

In [ ]:
## iv) Map
num = spark.sparkContext.parallelize([5,5,4,3,9,2])
num.collect()

[5, 5, 4, 3, 9, 2]

In [ ]:
num.map(lambda a:a*2).collect()

[10, 10, 8, 6, 18, 4]

In [ ]:
num.map(lambda a:pow(a,2)).collect()

[25, 25, 16, 9, 81, 4]

In [ ]:
#map for strings
names = spark.sparkContext.parallelize(["Dell","HP","Lenovo"])

In [ ]:
names.map(lambda a: "Mr. "+a).collect()

['Mr. Dell', 'Mr. HP', 'Mr. Lenovo']

In [ ]:
#Filter
num.collect()

[5, 5, 4, 3, 9, 2]

In [ ]:
num.filter(lambda x:x%2==0).collect()

[4, 2]

In [ ]:
names.collect()

['Dell', 'HP', 'Lenovo']

In [64]:
names.filter(lambda x: "D" in x).collect()

['Dell']

In [65]:
#Union
num2 = spark.sparkContext.parallelize([7,8,2,4,5,1])
num2.collect()

[7, 8, 2, 4, 5, 1]

In [66]:
num2.union(num).collect()

[7, 8, 2, 4, 5, 1, 5, 5, 4, 3, 9, 2]

In [67]:
type(num2)

pyspark.rdd.RDD

# PySpark SQL

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Practise').getOrCreate()

In [ ]:
## Dataframe
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row

df = spark.createDataFrame([
    Row(a=1, b=2, c="Shashank", d=date(2022,2,9), e=datetime(2022,2,9, 12,0)),
    Row(a=2, b=3, c="Mihir", d=date(2022,3,5), e=datetime(2022,3,5, 10,0)),
    Row(a=3, b=4, c="Pranav", d=date(2022,4,7), e=datetime(2022,4,7, 5,0))
])

In [ ]:
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [ ]:
df.show()

+---+---+--------+----------+-------------------+
|  a|  b|       c|         d|                  e|
+---+---+--------+----------+-------------------+
|  1|  2|Shashank|2022-02-09|2022-02-09 12:00:00|
|  2|  3|   Mihir|2022-03-05|2022-03-05 10:00:00|
|  3|  4|  Pranav|2022-04-07|2022-04-07 05:00:00|
+---+---+--------+----------+-------------------+

In [ ]:
#create the pyspark DataFrame with an explicit schema
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 2, 1, 11, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 3, 1, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

Create a pyspark dataframe from a pandas dataframe

In [53]:

pandas_df = pd.DataFrame({
    'a':[1,2,3],
    'b':[2,3,4],
    'c':['string1', 'string2', 'string3'],
    'd':[date(2000, 1, 1),  date(2000, 2, 1), date(2000, 3, 1)],
    'e':[datetime(2000,1,1, 12,0),datetime(2000,2,1, 11,0),datetime(2000,3,1, 12,0)]
})
print(pandas_df)
print(" ")
print("Spark data frame: ")
spark_df = spark.createDataFrame(pandas_df)
print(spark_df)
print(spark_df.show())

   a  b        c           d                   e
0  1  2  string1  2000-01-01 2000-01-01 12:00:00
1  2  3  string2  2000-02-01 2000-02-01 11:00:00
2  3  4  string3  2000-03-01 2000-03-01 12:00:00

Spark data frame:
DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|  2|string1|2000-01-01|2000-01-01 12:00:00|
|  2|  3|string2|2000-02-01|2000-02-01 11:00:00|
|  3|  4|string3|2000-03-01|2000-03-01 12:00:00|
+---+---+-------+----------+-------------------+

None

Create a Pyspark dataframe from an RDD

In [57]:
rdd = spark.sparkContext.parallelize([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 2, 1, 11, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 3, 1, 12, 0))             
])
print(rdd)
print(" ")
print("Pyspark dataframe: ")
spark_df = spark.createDataFrame(rdd, schema = ['a','b','c','d','e'])
print(spark_df)
print(spark_df.show())
print(df.printSchema())

ParallelCollectionRDD[80] at readRDDFromFile at PythonRDD.scala:274

Pyspark dataframe:
DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]
+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|
|  3|4.0|string3|2000-03-01|2000-03-01 12:00:00|
+---+---+-------+----------+-------------------+

None
root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

None

Viewing data

In [58]:
spark_df.show(2)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|
+---+---+-------+----------+-------------------+
only showing top 2 rows

To view rows vertically

In [59]:
df.show(3, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | string2
 d   | 2000-02-01
 e   | 2000-02-01 11:00:00
-RECORD 2------------------
 a   | 3
 b   | 4.0
 c   | string3
 d   | 2000-03-01
 e   | 2000-03-01 12:00:00

To see schema and column name

In [60]:
spark_df.columns

['a', 'b', 'c', 'd', 'e']

In [68]:
spark_df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

Show summary of the dataframe

In [69]:
spark_df.describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   null|
| stddev|1.0|1.0|   null|
|    min|  1|2.0|string1|
|    max|  3|4.0|string3|
+-------+---+---+-------+

Dataframe.collect() -> collects the distributed data to the driver

In [74]:
spark_df.collect()

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 2, 1, 11, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 3, 1, 12, 0))]

In order to avoid throwing an out of memory exception we can use dataframe.take() or DataFrame.tail()

In [76]:
spark_df.take(2)

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 2, 1, 11, 0))]

In [77]:
spark_df.toPandas()

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-02-01 11:00:00
2  3  4.0  string3  2000-03-01 2000-03-01 12:00:00

Most of column-wise opeartions return Columns

In [100]:
from pyspark.sql import Column
from pyspark.sql.functions import upper

type(spark_df.c) == type(upper(spark_df.c)) == type(spark_df.c.isNull())

True

In [102]:
spark_df.select(spark_df.c).show()

+-------+
|      c|
+-------+
|string1|
|string2|
|string3|
+-------+

Assign new column instance

In [105]:
spark_df.withColumn('upper_c',upper(spark_df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|upper_c|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|STRING2|
|  3|4.0|string3|2000-03-01|2000-03-01 12:00:00|STRING3|
+---+---+-------+----------+-------------------+-------+

To select a subset of rows ,use DataFrame.filter()

In [106]:
spark_df.filter(spark_df.c=="string1").show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

* Applying a function
* Pyspark support various UDFs and API to allow users to execute python native function
* Pandas UDFs and Pandas Functions APIs

In [108]:
import pandas
from pyspark.sql.functions import pandas_udf

@pandas_udf ('long')
def pandas_plus_one(series: pd.Series) -> pd.Series:
  #simply pluse one by using pandas series
    return series +5
spark_df.select(pandas_plus_one(spark_df.b)).show()

+------------------+
|pandas_plus_one(b)|
+------------------+
|                 7|
|                 8|
|                 9|
+------------------+

In [109]:
import pandas as pd
from pyspark.sql.functions import pandas_udf
@pandas_udf('string')
def pandas_plus_one(series:pd.Series)->pd.Series:
    return series+'hello'
spark_df.select(pandas_plus_one(spark_df.c)).show()

+------------------+
|pandas_plus_one(c)|
+------------------+
|      string1hello|
|      string2hello|
|      string3hello|
+------------------+

Grouping Data

In [118]:
df =spark.createDataFrame([
  ['red','banana',1,10],['blue','banana',2,20],['red','apple',3,30],
  ['blue','grape',4,40],['red','apple',5,50],['black','grape',6,60],
  ['red','banana',7,70],['red','grape',8,80],['blue','apple',7,80]], schema=['colour','fruit','v1','v2']
)
df.show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
+------+------+---+---+

Grouping and then applying the avg() function to the resulting grouping

In [111]:
df.groupby("fruit").avg().show()

+------+------------------+------------------+
| fruit|           avg(v1)|           avg(v2)|
+------+------------------+------------------+
| grape|               6.0|              60.0|
| apple|               5.0|53.333333333333336|
|banana|3.3333333333333335|33.333333333333336|
+------+------------------+------------------+

In [112]:
#apply a python native function againest each group by using pandas API
def pluse_mean(pandas_df):
    return pandas_df.assign(v2=pandas_df.v2  - pandas_df.v2.mean()) #for v2 column
df.groupby('colour').applyInPandas(pluse_mean , schema=df.schema).show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
| black| grape|  6|  0|
|  blue|banana|  2|-26|
|  blue| grape|  4| -6|
|  blue| apple|  7| 33|
|   red|banana|  1|-38|
|   red| apple|  3|-18|
|   red| apple|  5|  2|
|   red|banana|  7| 22|
|   red| grape|  8| 32|
+------+------+---+---+

In [113]:
#apply a python native function againest each group by using pandas API
def pluse_mean(pandas_df):
    return pandas_df.assign(v1=pandas_df.v1  - pandas_df.v1.mean()) #for v1 column
df.groupby('colour').applyInPandas(pluse_mean , schema=df.schema).show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
| black| grape|  0| 60|
|  blue|banana| -2| 20|
|  blue| grape|  0| 40|
|  blue| apple|  2| 80|
|   red|banana| -3| 10|
|   red| apple| -1| 30|
|   red| apple|  0| 50|
|   red|banana|  2| 70|
|   red| grape|  3| 80|
+------+------+---+---+

Co-grouping and applying function

In [114]:
#Co-grouping and applying function
df1 = spark.createDataFrame(
    [(20000101, 1, 1.0), (20000101, 2, 2.0), (20000102, 1, 3.0), (20000102, 2, 4.0)],
    ('time', 'id', 'v1'))

df2 = spark.createDataFrame(
    [(20000101, 1, 'x'), (20000101, 2, 'y')],
    ('time', 'id', 'v2'))

def asof_join(l, r):
    return pd.merge_asof(l, r, on='time', by='id')

df1.groupby('id').cogroup(df2.groupby('id')).applyInPandas(
    asof_join, schema='time int, id int, v1 double, v2 string').show()

+--------+---+---+---+
|    time| id| v1| v2|
+--------+---+---+---+
|20000101|  1|1.0|  x|
|20000102|  1|3.0|  x|
|20000101|  2|2.0|  y|
|20000102|  2|4.0|  y|
+--------+---+---+---+

In [119]:
#Getting Data in/out
#CSV
df.write.csv('foo.csv',header=True)
spark.read.csv('foo.csv',header=True).show()

AnalysisException: ignored

ORC

In [120]:
df.write.orc('zoo.orc')
spark.read.orc('zoo.orc').show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
+------+------+---+---+

Parquet

In [117]:
df.write.parquet('bar.parquet')
spark.read.parquet('bar.parquet').show()

AnalysisException: ignored

#  Pandas

In [84]:
import pandas as pd
df=pd.read_csv("/content/test1.csv","r")
df.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

    Name,Age,Expe      ience
0  Shashank,23,10        NaN
1            Mihi      ,22,8
2               P  anav,23,4

Selecting and Accessing the data

In [ ]:
#DataSeries
#Write a pandas proragm to create and display a one dimensional array like
import pandas as pd
ds = pd.Series([2,4,5,6,7,8])
print(ds)

0    2
1    4
2    5
3    6
4    7
5    8
dtype: int64

In [ ]:
# Write a pandas prorgam to convert pandas module series to python list and its type
import pandas as pd
ds = pd.Series([5,2,1,4,6])
print("pandas series and type")
print(ds)

print("convert pandas series into python list ", ds.tolist())
print(type(ds.tolist()))

pandas series and type
0    5
1    2
2    1
3    4
4    6
dtype: int64
convert pandas series into python list  [5, 2, 1, 4, 6]
<class 'list'>

In [ ]:
#Write a pandas program to compare the elements of the two pandas series
#Sample Series:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])

print("Series1: ")
print(ds1)
print("Series2: ")
print(ds2)

print("Compare the elemnts of the said Series:")
print("Equals: ")
print(ds1==ds2)

print("Greater than: ")
print(ds1>ds2)

print("Less than: ")
print(ds1<ds2)

Series1:
0     2
1     4
2     6
3     8
4    10
dtype: int64
Series2:
0     1
1     3
2     5
3     7
4    10
dtype: int64
Compare the elemnts of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0     True
1     True
2     True
3     True
4    False
dtype: bool
Less than:
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [ ]:
#Write a Pandas program to convert a dictionary to a Pandas series
d1 = {'a':100, 'b':200, 'c':300, 'd':400}
print("Original dictionary: ")
print(d1)
print(" ")

newSeries = pd.Series(d1)
print("Converted series: ")
print(newSeries)

Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400}

Converted series:
a    100
b    200
c    300
d    400
dtype: int64

In [ ]:
#Write a Pandas program to convert a Numpy array to a Pandas series
import numpy as np
npArray = np.array([10,20,30,40,50])
print("numpy array is: ")
print(npArray)
print(" ")
print("converted to pandas series ")
series = pd.Series(npArray)
print(series)

numpy array is:
[10 20 30 40 50]

converted to pandas series
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [63]:
s1 = pd.Series(['100','200','python','300.12','400'])
print("Original data series: ")
print(s1)
print("\nSeries to an array: ")
a = np.array(s1.values.tolist())
print(a)

Original data series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array:
['100' '200' 'python' '300.12' '400']

In [62]:
s1 = pd.Series(['100','200','python','300.12','400'])
print("Original data series: ")
print(s1)
print("\nSeries to an array: ")
newSeries = s1.sort_values()
print(newSeries)

Original data series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Series to an array:
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [48]:
s = pd.Series(data=[1,4,7,5,9], index=['A','B','C','D','E'])
print(s)

A    1
B    4
C    7
D    5
E    9
dtype: int64

Write a pandas program to convert the first and last character of each word to upper case in each word of a given series

In [61]:
s = pd.Series(['php','python','java'])
print("Original series: ")
print(s)
result = s.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print("\nFirst and last charater of each word to upper case: ")
print(result)

Original series:
0       php
1    python
2      java
dtype: object

First and last charater of each word to upper case:
0       PhP
1    PythoN
2      JavA
dtype: object

In [70]:
date_series = pd.Series(['01 Jan 2015', '10-02-2016', '20180307', '2014/05/06', '2016-04-12', '2019-04-06T11:20'])
print("Original Series:")
print(date_series)
print("\nSeries of date strings to a timeseries:")
print(pd.to_datetime(date_series))

Original Series:
0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object

Series of date strings to a timeseries:
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [72]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [73]:
#to display specified column and row
print("Select specific columns and rows:")
print(df.iloc[[1, 3, 5, 6], [1, 3]])  #1,3,5,6 rows and 1,3 columns

Select specific columns and rows:
   score qualify
b    9.0      no
d    NaN      no
f   20.0     yes
g   14.5     yes

Write Pandas program to count the numer of rows and columns of a DataFrame

In [86]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
            'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
            'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
            'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [81]:
#Number of rows and columns of DataFrame
total_rows=len(df.axes[0])
total_cols=len(df.axes[1])
print("Number of Rows: "+str(total_rows))
print("Number of Columns: "+str(total_cols))

Number of Rows: 10
Number of Columns: 4

In [82]:
#the score is between 15 and 20 (inclusive).
print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [83]:
#sum of the examination attempts by the students
print("\nSum of the exmaination attempts by the students: ")
print(df['attempts'].sum())

Sum of the exmaination attempts by the students:
19

In [87]:
print("\n change the name 'james' to 'suresh':  ")
df['name'] = df['name'].replace('James','Suresh')
print(df)

 change the name 'james' to 'suresh':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [88]:
'''.Write a Pandas program to display the default index and set a column as an Index in a given dataframe.

Test Data:

0        s001     V  Alberto Franco     15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill     17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes     16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton     25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill     11/05/2002      31  street2   t5
5        s004    VI    David Parkes     15/09/1997      32  street4   t6'''
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4'],
    't_id':['t1', 't2', 't3', 't4', 't5', 't6']})
print("Default Index:")
print(df.head(10))
print("\nschool_code as new Index:")
df1 = df.set_index('school_code')
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Default Index:
  school_code class            name date_Of_Birth  weight  address t_id
0        s001     V  Alberto Franco    15/05/2002      35  street1   t1
1        s002     V    Gino Mcneill    17/05/2002      32  street2   t2
2        s003    VI     Ryan Parkes    16/02/1999      33  street3   t3
3        s001    VI    Eesha Hinton    25/09/1998      30  street1   t4
4        s002     V    Gino Mcneill    11/05/2002      31  street2   t5
5        s004    VI    David Parkes    15/09/1997      32  street4   t6

school_code as new Index:
            class            name date_Of_Birth  weight  address t_id
school_code
s001            V  Alberto Franco    15/05/2002      35  street1   t1
s002            V    Gino Mcneill    17/05/2002      32  street2   t2
s003           VI     Ryan Parkes    16/02/1999      33  street3   t3
s001           VI    Eesha Hinton    25/09/1998      30  street1   t4
s002            V    Gino Mcneill    11/05/2002      31  street2   t5
s004           VI    David Parkes    15/09/1997      32  street4   t6

t_id as new Index:
     school_code class            name date_Of_Birth  weight  address
t_id
t1          s001     V  Alberto Franco    15/05/2002      35  street1
t2          s002     V    Gino Mcneill    17/05/2002      32  street2
t3          s003    VI     Ryan Parkes    16/02/1999      33  street3
t4          s001    VI    Eesha Hinton    25/09/1998      30  street1
t5          s002     V    Gino Mcneill    11/05/2002      31  street2
t6          s004    VI    David Parkes    15/09/1997      32  street4

In [89]:
#Write a Pandas program to create an index labels by using 64-bit integers, using floating-point numbers in a given dataframe
import pandas as pd
print("Create an Int64Index:")
df_i64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[1, 2, 3, 4, 5, 6])
print(df_i64)
print("\nView the Index:")
print(df_i64.index)

Create an Int64Index:
  school_code class            name date_Of_Birth  weight  address
1        s001     V  Alberto Franco    15/05/2002      35  street1
2        s002     V    Gino Mcneill    17/05/2002      32  street2
3        s003    VI     Ryan Parkes    16/02/1999      33  street3
4        s001    VI    Eesha Hinton    25/09/1998      30  street1
5        s002     V    Gino Mcneill    11/05/2002      31  street2
6        s004    VI    David Parkes    15/09/1997      32  street4

View the Index:
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

In [90]:
print("\nFloating-point labels using Float64Index:")
df_f64 = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_Of_Birth ': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32],
    'address': ['street1', 'street2', 'street3', 'street1', 'street2', 'street4']},
    index=[.1, .2, .3, .4, .5, .6])
print(df_f64)
print("\nView the Index:")
print(df_f64.index)

Floating-point labels using Float64Index:
    school_code class            name date_Of_Birth   weight  address
0.1        s001     V  Alberto Franco     15/05/2002      35  street1
0.2        s002     V    Gino Mcneill     17/05/2002      32  street2
0.3        s003    VI     Ryan Parkes     16/02/1999      33  street3
0.4        s001    VI    Eesha Hinton     25/09/1998      30  street1
0.5        s002     V    Gino Mcneill     11/05/2002      31  street2
0.6        s004    VI    David Parkes     15/09/1997      32  street4

View the Index:
Float64Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

In [91]:
#Write a Pandas program to print a DataFrame without index.
import pandas as pd
df = pd.DataFrame({
    'school_code': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V', 'V', 'VI', 'VI', 'V', 'VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Gino Mcneill', 'David Parkes'],
    'date_of_birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'weight': [35, 32, 33, 30, 31, 32]},
     index =  [1, 2, 3, 4, 5, 6])
print("Original DataFrame with single index:")
print(df)
print("\nDataFrame without index:")
print(df.to_string(index=False))

Original DataFrame with single index:
  school_code class            name date_of_birth  weight
1        s001     V  Alberto Franco    15/05/2002      35
2        s002     V    Gino Mcneill    17/05/2002      32
3        s003    VI     Ryan Parkes    16/02/1999      33
4        s001    VI    Eesha Hinton    25/09/1998      30
5        s002     V    Gino Mcneill    11/05/2002      31
6        s004    VI    David Parkes    15/09/1997      32

DataFrame without index:
school_code class           name date_of_birth  weight
       s001     V Alberto Franco    15/05/2002      35
       s002     V   Gino Mcneill    17/05/2002      32
       s003    VI    Ryan Parkes    16/02/1999      33
       s001    VI   Eesha Hinton    25/09/1998      30
       s002     V   Gino Mcneill    11/05/2002      31
       s004    VI   David Parkes    15/09/1997      32

In [92]:
#Write a Pandas program to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values.
import pandas as pd
import numpy as np
s = pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', 'None', 'bird', 'horse', 'dog'])
print("Original series:")
print(s)
print("\nConvert all string values of the said Series to upper case:")
print(s.str.upper())
print("\nConvert all string values of the said Series to lower case:")
print(s.str.lower())
print("\nLength of the string values of the said Series:")
print(s.str.len())

Original series:
0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Convert all string values of the said Series to upper case:
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      NONE
8      BIRD
9     HORSE
10      DOG
dtype: object

Convert all string values of the said Series to lower case:
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      none
8      bird
9     horse
10      dog
dtype: object

Length of the string values of the said Series:
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     4.0
8     4.0
9     5.0
10    3.0
dtype: float64

In [93]:
#Write a Pandas program to remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series.
import pandas as pd
color1 = pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print("Original series:")
print(color1)
print("\nRemove whitespace")
print(color1.str.strip())
print("\nRemove left sided whitespace")
print(color1.str.lstrip())
print("\nRemove Right sided whitespace")
print(color1.str.rstrip())

Original series:
Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')

Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

Remove left sided whitespace
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

Remove Right sided whitespace
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

In [94]:
#Write a Pandas program to add leading zeros to the integer column in a pandas series and makes the length of the field to 8 digit.

import pandas as pd
nums = {'amount': [10, 250, 3000, 40000, 500000]}
print("Original dataframe:")
df = pd.DataFrame(nums)
print(df)
print("\nAdd leading zeros:")
df['amount'] = df['amount'].apply(lambda x: '{0:0>8}'.format(x))
print(df)

Original dataframe:
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeros:
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [95]:
#Write a Pandas program to capitalize all the string values of specified columns of a given DataFrame.
import pandas as pd
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print("Original DataFrame:")
print(df)
print("\nAfter capitalizing name column:")
df['name'] = list(map(lambda x: x.capitalize(), df['name']))
print(df)

Original DataFrame:
      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0

After capitalizing name column:
      name date_of_birth    age
0  Alberto     17/05/2002  18.5
1     Gino     16/02/1999  21.2
2     Ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     Syed     15/09/1997  23.0

In [96]:
#.Write a Pandas program to replace more than one value with other values in a given DataFrame.
import pandas as pd
df = pd.DataFrame({
    'company_code': ['A','B', 'C', 'D', 'A'],
    'date_of_sale': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})

print("Original DataFrame:")
print(df)

print("\nReplace A with x and D with y:")
df = df.replace(["A", "D"], ["X", "Y"])
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0            A   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            D   12/02/2022    2566552.0
4            A   15/09/1997         23.0

Replace A with x and D with y:
  company_code date_of_sale  sale_amount
0            X   12/05/2002      12348.5
1            B   16/02/1999     233331.2
2            C   25/09/1998         22.5
3            Y   12/02/2022    2566552.0
4            X   15/09/1997         23.0

In [97]:
'''Write a Pandas program to create
a) Datetime object for Jan 15 2012.
b) Specific date and time of 9:20 pm.
c) Local date and time.
d) A date without time.
e) Current date.
f) Time from a datetime.
g) Current local time.'''

import datetime
from datetime import datetime

print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2022-02-10 07:35:15.225072

A date without time:
2012-05-22

Current date:
2022-02-10

Time from a datetime:
18:12:00

Current local time:
07:35:15.229270