In [ ]:
print("Hello all we are learning Python...")

Hello all we are learning Python...

In [ ]:
#Data Types
#Numeric Datatypes
#int
a=50
print(a) 
#float
b=52.6
print(b)
#complex
d=89+4j
print(d)
#int type
type(50)
#float type
type(52.2)
#complex type
type(78+9j)

50
52.6
(89+4j)

complex

In [ ]:
#List Datatype
list = ["Ajay","Ramesh","Koushik","Ajay","Priya","Siddarth"]
#list.insert(0,"Sneha")  #inserting the values into list
#list.insert(5,"Rahul")
#list.index("Siddarth") #index of the values
#list.count("Ajay")
#list.sort()
del list[2]  #for delete 
print(list)

['Ajay', 'Ramesh', 'Ajay', 'Priya', 'Siddarth']

In [ ]:
#Tuple datatypes
tuple=("apple","banana","mango","grapes")
#tuple=tuple*10
print(tuple[0:3])
#print(tuple)

('apple', 'banana', 'mango')

In [ ]:
#Set Datatypes
a={1,2,3,4,4,6,7}
b={3,5,4,2}
#print(a | b) #union operation
#print(a & b) #intersection opeartion
#print(a - b) #DIfference operation
#print(b - a)
print (a ^ b) #symmetric Difference operation

{1, 5, 6, 7}

In [ ]:
#Dictionaries datatypes
pizza ={ "name":["cheese","paneer"],
         "codes":["789","123"],
         "Shop":["dominos","pizzahut"]
        }
#print(pizza.keys()) #for only keys
#print(pizza.values()) #for values
#pizza["location"]=["Delhi","Mumbai"]
len(pizza) #lenght of dictionaries

#print(pizza)

3

In [ ]:
#String dataypes
string="Hello Bajaj Team How are you and we are happy"
#print(string)
#print(len(string)) #to know lenght of the string
#print(string.index("B")) # to know the index
#print(string.count("H")) # to count character
#print(string.upper())  # for upper case
#print(string.lower()) #for lower case
#print(string.replace(" " ," .")) #each word seperated with .
print(string.replace('','.')) #ech letter seperated with .

.H.e.l.l.o. .B.a.j.a.j. .T.e.a.m. .H.o.w. .a.r.e. .y.o.u. .a.n.d. .w.e. .a.r.e. .h.a.p.p.y.

In [ ]:
#String slicing
str="Bajaj infotech"
#print(str)
#print(str[1:4])
#print(str[1:])
#print(str[1:-4])
#print(str[:-2])
print(str[0:14:3])

Baioc

In [ ]:
#Python Operators
#Arithmetic operator
a =25
x =5
print(a+x) #add
print(a-x) #sub
print(a/x) #div
print(a*x) #mul
print(a%x) #mod
print(a//x) #floor division
print(a**x) #exponentiation

30
20
5.0
125
0
5
9765625

In [ ]:
#comparision operators
s=12
d=12

if s==d:
  print("s is equal to d")
if s<d:
  print("s is less than d")
if s>d:
  print("s is greater than d")
if s<=d:
  print("s is less than or equal to  d")
if s>=d:
  print("s is greater than or equal to d")

s is equal to d
s is less than or equal to  d
s is greater than or equal to d

In [ ]:
#logical operators
#AND operation               truth table for and (a=0 b=0  c=0),(a=0  b=1  c=0),(a=1  b=0  c=0), (a=1 b=1   c=1)
a=True
b=True
#print (a and b)


#OR operation                truth table for or (a=0 b=0  c=0),(a=0  b=1  c=1),(a=1  b=0  c=1), (a=1 b=1   c=1)

q =True
e =False
#print (q or e)

#NOT operation 
a= True
print(not a)

False

In [ ]:
#Identity operators          is and is not
a= 5
b= 4
if a is b:
  print("similor")
if a is not b:
  print("not similor")

not similor

In [ ]:
#Membership operators       in and not in
#tuple
a=(45,89,2,78,53)
if 45 in a:
  print("Yes this number is available")
if 9 not in a:
  print("No this number not available")

Yes this number is available
No this number not available

In [ ]:
#list 
s=[89,56,21,30,4]
if 21 in s:
  print("Yes this number is available")
if 9 not in a:
  print("No this number not available")

Yes this number is available
No this number not available

In [ ]:
#Assighment operators
x =5
x +=3                     #x=x+3
print(x)

8

In [ ]:
x =56
x -=21
print(x)

35

In [ ]:
s = 5
s *=25
print(s)

125

In [ ]:
z =125
z /=6
print(z)

20.833333333333332

In [ ]:
#Bitwise operators
#AND
a = 1
b = 1
print( a & b) # for bitwise and >>&

1

In [ ]:
#Bitwise OR
a= 0
x=1
print( a | x) # for bitwise or >> |

1

In [ ]:
#Bitwise Xor 
a=1
b=1
print(a ^ b)

0

In [ ]:
#Number converstion
# int to binary converstion
bin(25)

'0b11001'

In [ ]:
# binary to int converstion
int(0b11001101)

205

In [ ]:
# int to octal converstion
#oct(25)
oct(87)

'0o127'

In [ ]:
#ocatl to int converstion
int(0o127)

87

In [ ]:
# int to hex convertion
hex(25)

'0x19'

In [ ]:
int(0x65)

101

In [ ]:
#write a python code for simple calculator
def add(x,y):
  return x+y
def substraction(x,y):
  return x-y
def multiply(x,y):
  return x*y
def division(x,y):
  return x/y

print("select the operation.")
print("1.add")
print("2.substraction")
print("3.multiply")
print("4.division")

#take the inputs fron user
choice =input("Enter choice(1/2/3/4/5):")

num1= int(input("Enter first number:"))
num2=int(input("Enter second number:"))

if choice =='1':
  print(num1,"+",num2,"=",add(num1,num2))
elif choice =='2':
  print(num1,"-",num2,"=",substraction(num1,num2))
elif choice =='3':
  print(num1,"*",num2,"=",multiply(num1,num2))
elif choice =='4':
  print(num1,"/",num2,"=",division(num1,num2))
else:
  print("Invalid input")

select the operation.
1.add
2.substraction
3.multiply
4.division
Enter choice(1/2/3/4/5):4
Enter first number:25
Enter second number:5
25 / 5 = 5.0

In [ ]:
#Function in python
#i)user defined function ii)in-built function

def add(a,b): #additon function
  s=a+b
  return s
result = add(78,25)
print(result)

add(452,652)
add(123,547)

103

670

In [ ]:
def sub(c,v):#substraction function
  x=c-v
  return x
result=sub(45,20)
print(result)

sub(78,2)

25

76

In [ ]:
def greet():
  print("Hello")
  print("Good Evening")
greet()
greet()
greet()

Hello
Good Evening
Hello
Good Evening
Hello
Good Evening

In [ ]:
#In-built function
#i)abs function
integer =-56
print("abs of the these is:",abs(integer))
float=-25.6
print("abs value of this float is:",abs(float))

abs of the these is: 56
abs value of this float is: 25.6

In [ ]:
#ii)all function
a=[1,2,4,7,89,23]
print(all(a))
s=[1,5,False]
print(all(s))
x=[45,0,1,2,42]
print(all(x))

True
False
False

In [ ]:
#iii)bin,octal,hexa function
number=52
bin(number)
oct(number)
hex(number)

'0x34'

In [ ]:
#iv) eval function
x=8
print(eval('x+4'))
print(eval('x*12'))

12
96

In [ ]:
#v) min.max power function
number=[45,78,52,41,25,3,95,14,62]
min(number)
max(number)

pow(4,2)
pow(-52,5)
pow(12,-2)

0.006944444444444444

In [ ]:
# sum function
s=[78,52,62,325,3453,425,12,4,5,2]
sum(s)

4418

In [ ]:
#condtional statements
#if  statement
a = 33
b = 200
if b>a:
  print("b is greater than a")

b is greater than a

In [ ]:
#elif
a =96
b =96
if b>a:
  print("b is greater than a")
elif a==b:
  print("a is equal to b")

a is equal to b

In [ ]:
#else statement
a =42
b =42

if b>a:
   print("b is greater than a")
elif a==b:
  print("a is equal b")
else:
  print("a is greater than b")

a is equal b

In [ ]:
#Nested if statement
x =41
if x>10:
  print("above ten")
  if x>20:
    print("greater than 20")
  else:
    print("but not above 20")

above ten
greater than 20

In [ ]:
#python loops
#i)while loop >> we can execute a set of statement as long as a condition is true

s = 1
while s < 20:
  print(s)
  s +=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#while break
x = 1
while x<20:
  print(x)
  if x==10:
    break
  x+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#while continue
x = 0
while x < 20:
  x+=1

  if x==10:
    continue
  print(x)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [ ]:
#for loop
fruits=["apple","mango","grapes"]
for a in fruits:
  print(a)

apple
mango
grapes

In [ ]:
# for loop on strings
for s in "bajajfinance":
 print(s)

b
a
j
a
j
f
i
n
a
n
c
e

In [ ]:
#for loop range
for s in range(10,20):
  print(s)

10
11
12
13
14
15
16
17
18
19

In [ ]:
#for loop range
for s in range(2,25,2):
 print(s)

2
4
6
8
10
12
14
16
18
20
22
24

In [ ]:
#Errors in python
#i)Compile time error
x = int (input("enter a number:"))

while x%2==0:
 print("you have entered an even number:")
else:
  print("you have entered an odd number:")

enter a number:45
you have entered an odd number:

In [ ]:
#ii)Logical error
m =int (input("enter a number:"))
n =int (input("enter a number:"))

h=(m+n)/2
print("the average of two number you have entered is :",h)

enter a number:20
enter a number:20
the average of two number you have entered is : 20.0

In [ ]:
#iii)Run time error
v=int(input("enter a number:"))
c=int(input("enter a number:"))
x=v/c
print("the division of two number is:",x)

enter a number:15
enter a number:5
the division of two number is: 3.0

In [ ]:
#File handling in python
file=open("//content/sample1.csv","r")
print(file.read())

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0
"Jun",  0.5,  2,  1, 1, 0, 0, 1, 1, 2, 2,  0,  1
"Jul",  0.7,  5,  1, 1, 2, 0, 1, 3, 0, 2,  2,  1
"Aug",  2.3,  6,  3, 2, 4, 4, 4, 7, 8, 2,  2,  3
"Sep",  3.5,  6,  4, 7, 4, 2, 8, 5, 2, 5,  2,  5
"Oct",  2.0,  8,  0, 1, 3, 2, 5, 1, 5, 2,  3,  0
"Nov",  0.5,  3,  0, 0, 1, 1, 0, 1, 0, 1,  0,  1
"Dec",  0.0,  1,  0, 1, 0, 0, 0, 0, 0, 0,  0,  1

In [ ]:
#read a part of file and read line
file=open("//content/sample1.csv","r")
#print(file.read(20))
print(file.readline())
print(file.readline())

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"

"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0

In [ ]:
#looping through the lines of the file
f=open("/content/sample1.csv","r")
for s in f:
  print(s)

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"

"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0

"Jun",  0.5,  2,  1, 1, 0, 0, 1, 1, 2, 2,  0,  1

"Jul",  0.7,  5,  1, 1, 2, 0, 1, 3, 0, 2,  2,  1

"Aug",  2.3,  6,  3, 2, 4, 4, 4, 7, 8, 2,  2,  3

"Sep",  3.5,  6,  4, 7, 4, 2, 8, 5, 2, 5,  2,  5

"Oct",  2.0,  8,  0, 1, 3, 2, 5, 1, 5, 2,  3,  0

"Nov",  0.5,  3,  0, 0, 1, 1, 0, 1, 0, 1,  0,  1

"Dec",  0.0,  1,  0, 1, 0, 0, 0, 0, 0, 0,  0,  1

In [ ]:
#close the file
f=open("/content/sample1.csv","r")
print(f.readline())
f.close()

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"

In [ ]:
#append and write 
f=open("/content/sample1.csv","a")
f.write("hello good evening")
#f.close()

f=open("/content/sample1.csv","r")
print(f.read())

"Month", "Average", "2005", "2006", "2007", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015"
"May",  0.1,  0,  0, 1, 1, 0, 0, 0, 2, 0,  0,  0
"Jun",  0.5,  2,  1, 1, 0, 0, 1, 1, 2, 2,  0,  1
"Jul",  0.7,  5,  1, 1, 2, 0, 1, 3, 0, 2,  2,  1
"Aug",  2.3,  6,  3, 2, 4, 4, 4, 7, 8, 2,  2,  3
"Sep",  3.5,  6,  4, 7, 4, 2, 8, 5, 2, 5,  2,  5
"Oct",  2.0,  8,  0, 1, 3, 2, 5, 1, 5, 2,  3,  0
"Nov",  0.5,  3,  0, 0, 1, 1, 0, 1, 0, 1,  0,  1
"Dec",  0.0,  1,  0, 1, 0, 0, 0, 0, 0, 0,  0,  1

hello good eveninghello good evening

In [ ]:
#read the file character by character
with open("/content/sample2.txt","r") as file:
  for line in file:
    for character in line:
      print

"
M
o
n
t
h
"
,

"
A
v
e
r
a
g
e
"
,

"
2
0
0
5
"
,

"
2
0
0
6
"
,

"
2
0
0
7
"
,

"
2
0
0
8
"
,

"
2
0
0
9
"
,

"
2
0
1
0
"
,

"
2
0
1
1
"
,

"
2
0
1
2
"
,

"
2
0
1
3
"
,

"
2
0
1
4
"
,

"
2
0
1
5
"


"
M
a
y
"
,


0
.
1
,


0
,


0
,

1
,

1
,

0
,

0
,

0
,

2
,

0
,


0
,


0




"
J
u
n
"
,


0
.
5
,


2
,


1
,

1
,

0
,

0
,

1
,

1
,

2
,

2
,


0
,


1


"
J
u
l
"
,


0
.
7
,


5
,


1
,

1
,

2
,

0
,

1
,

3
,

0
,

2
,


2
,


1


"
A
u
g
"
,


2
.
3
,


6
,


3
,

2
,

4
,

4
,

4
,

7
,

8
,

2
,


2
,


3


"
S
e
p
"
,


3
.
5
,


6
,


4
,

7
,

4
,

2
,

8
,

5
,

2
,

5
,


2
,


5


"
O
c
t
"
,


2
.
0
,


8
,


0
,

1
,

3
,

2
,

5
,

1
,

5
,

2
,


3
,


0


"
N
o
v
"
,


0
.
5
,


3
,


0
,

0
,

1
,

1
,

0
,

1
,

0
,

1
,


0
,


1


"
D
e
c
"
,


0
.
0
,


1
,


0
,

1
,

0
,

0
,

0
,

0
,

0
,

0
,


0
,


1




h
e
l
l
o

g
o
o
d

e
v
e
n
i
n
g
h
e
l
l
o

g
o
o
d

e
v
e
n
i
n
g
h
e
l
l
o

g
o
o
d

e
v
e
n
i
n
g

In [ ]:
def sum(a,b,c,d):
    if a==b or b==c or c==d or d==a:
      sum=0
      
    else:
      sum=a+b+c+d
    return sum
print(sum(12,5,6,4))
print(sum(14,25,14,9))
print(sum(12,12,12,12))

27
62
0

In [ ]:
#python code for sum of two given integer ...if the sum is between 25 to 35 sum will return 1000

def sum(x,y):
    sum=x+y
    if sum in range (25,35):
      return 1000
    else:
      return sum
print(sum(13,15))
print(sum(42,15))

1000
57

In [ ]:
#python code to get os name,platform and release information
import platform
import os
print(os.name)
print(platform.system())
print(platform.release())

posix
Linux
5.4.144+

In [ ]:
#write python code for calendar
import calendar
y=int(input("Input the year  :"))
m=int(input("Input the month  :"))
print(calendar.month(y,m))

Input the year  :2022
Input the month  :02
   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

In [ ]:
#python code for calulate area of the triangle
b=int(input("input the base:"))
h=int(input("input the hight:"))
area=b*h/2
print("area:",area)

input the base:12
input the hight:10
area: 60.0

In [ ]:
#write a python code to calculate number of days between two dates

from datetime import date
first_date=date(1990,1,25)
last_date=date(2022,2,7)
delta=last_date-first_date
print(delta.days) #days

delta=((last_date-first_date)/365)
print(delta.days) # years

11701
32

In [ ]:
#write a python code to count number of 4s in a list
def list_count_4(nums):
  count=0
  for num in nums:
    if num==4:
      count=count+1
  return count
print(list_count_4([4,7,5,4,4,4,8,5,1,2,4]))
print(list_count_4([1,2,45,32,1,25,32,65,25,4]))

5
1

In [ ]:
#write a python code to display current date and time
import datetime
now=datetime.datetime.now()
print("current date and time")
print(now.strftime("%y-%m-%d %H:%M:%S"))

current date and time
22-02-08 04:25:36

In [ ]:
#write a python code to display the first and last color in a given colors list
colour_list=["red","green","orange","blue","white"]
print((colour_list[0],colour_list[-1]))

('red', 'white')

In [ ]:
'''write a python code to print all the even number from a given 
number list in same order and stop the printing if any numbercome after 256 in given list'''
numbers=[45,15,214,215,266,3,48,54,96,78,48,87,89,99,256,41,45,85,74,85,96,21,33,41,51,55,48]
for s in numbers:
  if s==256:
    print(s)
    break;
  elif s%2==0:
    print(s)

214
266
48
54
96
78
48
256
41

In [ ]:
#write a python code to get the lcm of two positive number
def lcm(x,y):
  if x > y:
    z = x
  else:
    z = y
  while(True):
    if((z%x==0) and (z%y==0)):
      lcm =z
      break
    z+=1
  return lcm
print(lcm(4,6))
print(lcm(15,17))

12
255

In [ ]:
#write a python code to get size of the file
import os
file_size=os.path.getsize("/content/bajajnotebook.ipynb")
print("\n the size of bajajnotebook.ipynb is: ",file_size,"Bytes")
print()

 the size of bajajnotebook.ipynb is:  2262 Bytes

In [ ]:
#write a python code to get the top stories from google url
import bs4
from bs4 import BeautifulSoup as Soup
from urllib.request import urlopen

google_url="https://www.google.com/news/rss"
Client=urlopen(google_url)
xml_page=Client.read()
Client.close()

soup_page=Soup(xml_page,"xml")
google_url=soup_page.findAll("item")

for google in google_url:
  print(google.title.text)
  print(google.link.text)
  print(google.pubDate.text)
  print("-"*10)

Supreme Court lets GOP-drawn Alabama congressional map that critics say dilutes power of Black voters stay in place - CNN
https://news.google.com/__i/rss/rd/articles/CBMiSGh0dHBzOi8vd3d3LmNubi5jb20vMjAyMi8wMi8wNy9wb2xpdGljcy9zdXByZW1lLWNvdXJ0LWFsYWJhbWEvaW5kZXguaHRtbNIBAA?oc=5
Tue, 08 Feb 2022 00:40:00 GMT
----------
Biden Says Nord Stream 2 Pipeline Won’t Go Forward if Russia Invades Ukraine - The Wall Street Journal
https://news.google.com/__i/rss/rd/articles/CBMidGh0dHBzOi8vd3d3Lndzai5jb20vYXJ0aWNsZXMvYmlkZW4tc2F5cy1ub3JkLXN0cmVhbS0yLXBpcGVsaW5lLXdvbnQtZ28tZm9yd2FyZC1pZi1ydXNzaWEtaW52YWRlcy11a3JhaW5lLTExNjQ0MjY4NDA30gEA?oc=5
Tue, 08 Feb 2022 03:40:00 GMT
----------
Biden's top science adviser, Eric Lander, resigns amid reports of bullying - POLITICO
https://news.google.com/__i/rss/rd/articles/CBMiRWh0dHBzOi8vd3d3LnBvbGl0aWNvLmNvbS9uZXdzLzIwMjIvMDIvMDcvZXJpYy1sYW5kZXItcmVzaWducy0wMDAwNjU0NdIBAA?oc=5
Tue, 08 Feb 2022 01:57:12 GMT
----------
Sacramento County will 'follow the state's lead' in lifting indoor mask mandate, Yolo County to 'evaluate situation' - KCRA Sacramento
https://news.google.com/__i/rss/rd/articles/CBMiY2h0dHBzOi8vd3d3LmtjcmEuY29tL2FydGljbGUvc2FjcmFtZW50by1jb3VudHktc3RhdGUtbGlmdGluZy1zdGF0ZXdpZGUtaW5kb29yLW1hc2stbWFuZGF0ZS8zOTAwNjMxNtIBAA?oc=5
Tue, 08 Feb 2022 01:12:00 GMT
----------
1 killed, 1 injured in shooting at Richland grocery store - KING5.com
https://news.google.com/__i/rss/rd/articles/CBMibmh0dHBzOi8vd3d3Lmtpbmc1LmNvbS9hcnRpY2xlL25ld3MvY3JpbWUvcmljaGxhbmQtZnJlZC1tZXllci1zaG9vdGluZy8yODEtMDAwYzFiZTEtMzNkMi00MzQ4LWIzMjEtZDQwMDQzYTViYjgx0gFyaHR0cHM6Ly93d3cua2luZzUuY29tL2FtcC9hcnRpY2xlL25ld3MvY3JpbWUvcmljaGxhbmQtZnJlZC1tZXllci1zaG9vdGluZy8yODEtMDAwYzFiZTEtMzNkMi00MzQ4LWIzMjEtZDQwMDQzYTViYjgx?oc=5
Mon, 07 Feb 2022 20:40:00 GMT
----------
Putin keeps distance from Macron as leaders mull diplomatic end to Ukraine crisis - New York Post
https://news.google.com/__i/rss/rd/articles/CBMib2h0dHBzOi8vbnlwb3N0LmNvbS8yMDIyLzAyLzA3L3ZsYWRpbWlyLXB1dGluLWtlZXBzLWRpc3RhbmNlLWZyb20tZW1tYW51ZWwtbWFjcm9uLWR1cmluZy11a3JhaW5lLWRpcGxvbWFjeS1wdXNoL9IBAA?oc=5
Mon, 07 Feb 2022 18:51:00 GMT
----------
‘Errors’ at Treatment Plant Force 1 Million in Austin to Boil Their Water - The New York Times
https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMjIvMDIvMDcvdXMvYXVzdGluLWJvaWwtd2F0ZXIuaHRtbNIBAA?oc=5
Mon, 07 Feb 2022 23:06:50 GMT
----------
A judge ordered the U.S. to pay $230 million to victims of a Texas church massacre - NPR
https://news.google.com/__i/rss/rd/articles/CBMiemh0dHBzOi8vd3d3Lm5wci5vcmcvMjAyMi8wMi8wNy8xMDc5MDEzMDA2L2EtanVkZ2Utb3JkZXJlZC10aGUtdS1zLXRvLXBheS0yMzAtbWlsbGlvbi10by12aWN0aW1zLW9mLWEtdGV4YXMtY2h1cmNoLW1hc3NhY3Jl0gEA?oc=5
Tue, 08 Feb 2022 02:58:55 GMT
----------
Ottawa mayor declares state of emergency for Covid trucker protest - NBC News
https://news.google.com/__i/rss/rd/articles/CBMiaGh0dHBzOi8vd3d3Lm5iY25ld3MuY29tL25ld3Mvd29ybGQvb3R0YXdhLWNvdmlkLXRydWNrZXItcHJvdGVzdC1tYXlvci1kZWNsYXJlcy1zdGF0ZS1lbWVyZ2VuY3ktcmNuYTE1MTEx0gEA?oc=5
Mon, 07 Feb 2022 23:26:01 GMT
----------
Senate GOP backlash smacks RNC after Cheney-Kinzinger censure - POLITICO
https://news.google.com/__i/rss/rd/articles/CBMib2h0dHBzOi8vd3d3LnBvbGl0aWNvLmNvbS9uZXdzLzIwMjIvMDIvMDcvc2VuYXRlLWdvcC1iYWNrbGFzaC1zbWFja3Mtcm5jLWFmdGVyLWNoZW5leS1raW56aW5nZXItY2Vuc3VyZS0wMDAwNjQ1NtIBAA?oc=5
Tue, 08 Feb 2022 00:25:04 GMT
----------
Hundreds gather for funeral of Morocco boy who died in well - The Guardian
https://news.google.com/__i/rss/rd/articles/CBMiaWh0dHBzOi8vd3d3LnRoZWd1YXJkaWFuLmNvbS93b3JsZC8yMDIyL2ZlYi8wOC9odW5kcmVkcy1nYXRoZXItZm9yLWZ1bmVyYWwtb2YtbW9yb2Njby1ib3ktd2hvLWRpZWQtaW4td2VsbNIBAA?oc=5
Tue, 08 Feb 2022 00:41:00 GMT
----------
Keir Starmer: Two arrested after protesters surround Labour leader - BBC News
https://news.google.com/__i/rss/rd/articles/CBMiLWh0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy91ay1wb2xpdGljcy02MDI5NDQ4M9IBMWh0dHBzOi8vd3d3LmJiYy5jb20vbmV3cy91ay1wb2xpdGljcy02MDI5NDQ4My5hbXA?oc=5
Tue, 08 Feb 2022 00:54:18 GMT
----------
Israel PM vows action as police Pegasus spying scandal widens - Al Jazeera English
https://news.google.com/__i/rss/rd/articles/CBMiZWh0dHBzOi8vd3d3LmFsamF6ZWVyYS5jb20vbmV3cy8yMDIyLzIvNy9uZXctcmVwb3J0LWFsbGVnZXMtd2lkZXNwcmVhZC1wZWdhc3VzLXNweWluZy1ieS1pc3JhZWwtcG9saWNl0gEA?oc=5
Mon, 07 Feb 2022 17:26:15 GMT
----------
William backs 'Queen Camilla': Duke of Cambridge supports Duchess of Cornwall's title - Daily Mail
https://news.google.com/__i/rss/rd/articles/CBMiggFodHRwczovL3d3dy5kYWlseW1haWwuY28udWsvbmV3cy9hcnRpY2xlLTEwNDg2OTY1L1dpbGxpYW0tYmFja3MtUXVlZW4tQ2FtaWxsYS1EdWtlLUNhbWJyaWRnZS1zdXBwb3J0cy1EdWNoZXNzLUNvcm53YWxscy10aXRsZS5odG1s0gEA?oc=5
Mon, 07 Feb 2022 22:21:17 GMT
----------
Frontier to buy Spirit Airlines in $2.9 bln budget carrier deal - Reuters
https://news.google.com/__i/rss/rd/articles/CBMiaWh0dHBzOi8vd3d3LnJldXRlcnMuY29tL2J1c2luZXNzL2Flcm9zcGFjZS1kZWZlbnNlL3NwaXJpdC1haXJsaW5lcy1mcm9udGllci1tZXJnZS0yOS1ibG4tZGVhbC0yMDIyLTAyLTA3L9IBAA?oc=5
Tue, 08 Feb 2022 01:11:00 GMT
----------
Peter Thiel, PayPal founder and Trump ally, to step down from Meta board - The Guardian
https://news.google.com/__i/rss/rd/articles/CBMiWWh0dHBzOi8vd3d3LnRoZWd1YXJkaWFuLmNvbS90ZWNobm9sb2d5LzIwMjIvZmViLzA3L3BldGVyLXRoaWVsLW1ldGEtZmFjZWJvb2stYm9hcmQtcmVzaWdu0gEA?oc=5
Tue, 08 Feb 2022 00:42:00 GMT
----------
Dow Jones Futures: 4 Stocks To Watch In Volatile Market Rally - Investor's Business Daily
https://news.google.com/__i/rss/rd/articles/CBMijAFodHRwczovL3d3dy5pbnZlc3RvcnMuY29tL21hcmtldC10cmVuZC9zdG9jay1tYXJrZXQtdG9kYXkvZG93LWpvbmVzLWZ1dHVyZXMtZm91ci10b3Atc3RvY2tzLXRvLWJ1eS1hbmQtd2F0Y2gtaW4tdm9sYXRpbGUtc3RvY2stbWFya2V0LXJhbGx5L9IBAA?oc=5
Tue, 08 Feb 2022 03:48:00 GMT
----------
Amazon hiking base salary cap to $350,000 for corporate, tech workers - Fox Business
https://news.google.com/__i/rss/rd/articles/CBMiYWh0dHBzOi8vd3d3LmZveGJ1c2luZXNzLmNvbS9tYXJrZXRzL2FtYXpvbi1oaWtpbmctYmFzZS1zYWxhcnktY2FwLXRvLTM1MDAwMC1mb3ItY29ycG9yYXRlLXdvcmtlcnPSAQA?oc=5
Tue, 08 Feb 2022 01:22:11 GMT
----------
Someone put 'Wordle' on the Game Boy - Engadget
https://news.google.com/__i/rss/rd/articles/CBMiPGh0dHBzOi8vd3d3LmVuZ2FkZ2V0LmNvbS93b3JkbGUtZ2FtZS1ib3ktcG9ydC0yMTIwMzYzMjIuaHRtbNIBAA?oc=5
Mon, 07 Feb 2022 21:21:32 GMT
----------
Microsoft will block downloaded macros in Office versions going back to 2013 - Ars Technica
https://news.google.com/__i/rss/rd/articles/CBMidWh0dHBzOi8vYXJzdGVjaG5pY2EuY29tL2dhZGdldHMvMjAyMi8wMi9taWNyb3NvZnQtd2lsbC1ibG9jay1kb3dubG9hZGVkLW1hY3Jvcy1pbi1vZmZpY2UtdmVyc2lvbnMtZ29pbmctYmFjay10by0yMDEzL9IBe2h0dHBzOi8vYXJzdGVjaG5pY2EuY29tL2dhZGdldHMvMjAyMi8wMi9taWNyb3NvZnQtd2lsbC1ibG9jay1kb3dubG9hZGVkLW1hY3Jvcy1pbi1vZmZpY2UtdmVyc2lvbnMtZ29pbmctYmFjay10by0yMDEzLz9hbXA9MQ?oc=5
Mon, 07 Feb 2022 20:54:39 GMT
----------
Samsung Galaxy Watch 4 cobbles together more health features - The Verge
https://news.google.com/__i/rss/rd/articles/CBMib2h0dHBzOi8vd3d3LnRoZXZlcmdlLmNvbS8yMDIyLzIvNy8yMjkyMTYxNS9zYW1zdW5nLWdhbGF4eS13YXRjaC00LXdlYXItb3MtZ29vZ2xlLWFzc2lzdGFudC13ZWFyYWJsZXMtc21hcnR3YXRjaNIBAA?oc=5
Mon, 07 Feb 2022 23:00:00 GMT
----------
Everything We Know About the 2022 iPad Air Coming in March - MacRumors
https://news.google.com/__i/rss/rd/articles/CBMiLmh0dHBzOi8vd3d3Lm1hY3J1bW9ycy5jb20vZ3VpZGUvMjAyMi1pcGFkLWFpci_SAQA?oc=5
Mon, 07 Feb 2022 21:07:32 GMT
----------
‘The Bachelor’ Recap: And the Academy Award Goes to … - The Ringer
https://news.google.com/__i/rss/rd/articles/CBMiYWh0dHBzOi8vd3d3LnRoZXJpbmdlci5jb20vMjAyMi8yLzcvMjI5MjI2MTIvdGhlLWJhY2hlbG9yLXNlYXNvbi0yNi1lcGlzb2RlLTUtcmVjYXAtc2hhbmFlLXZpbGxhaW7SAW5odHRwczovL3d3dy50aGVyaW5nZXIuY29tL3BsYXRmb3JtL2FtcC8yMDIyLzIvNy8yMjkyMjYxMi90aGUtYmFjaGVsb3Itc2Vhc29uLTI2LWVwaXNvZGUtNS1yZWNhcC1zaGFuYWUtdmlsbGFpbg?oc=5
Tue, 08 Feb 2022 03:03:52 GMT
----------
After pulling songs, Neil Young is telling Spotify employees to quit their jobs - The Verge
https://news.google.com/__i/rss/rd/articles/CBMiXWh0dHBzOi8vd3d3LnRoZXZlcmdlLmNvbS8yMjkyMjcxNC9uZWlsLXlvdW5nLXNwb3RpZnktbGV0dGVyLWNlby1kYW5pZWwtZWstZW1wbG95ZWVzLWpvZS1yb2dhbtIBAA?oc=5
Tue, 08 Feb 2022 01:37:43 GMT
----------
See Scarlett Johansson, Colin Jost in Super Bowl commercial | EW.com - Entertainment Weekly News
https://news.google.com/__i/rss/rd/articles/CBMiRmh0dHBzOi8vZXcuY29tL3R2L3NjYXJsZXR0LWpvaGFuc3Nvbi1jb2xpbi1qb3N0LXN1cGVyLWJvd2wtY29tbWVyY2lhbC_SAQA?oc=5
Mon, 07 Feb 2022 17:24:00 GMT
----------
Kylie Jenner baby boy news LIVE – Name of star’s newborn son still a mystery as he’s born a day after Storm... - The US Sun
https://news.google.com/__i/rss/rd/articles/CBMiW2h0dHBzOi8vd3d3LnRoZS1zdW4uY29tL2VudGVydGFpbm1lbnQvNDYyNzgxOS9reWxpZS1qZW5uZXItYmFieS1ib3ktbmFtZS10cmF2aXMtc2NvdHQtbGl2ZS_SAQA?oc=5
Tue, 08 Feb 2022 01:01:00 GMT
----------
Houston Texans hire defensive coordinator Lovie Smith as head coach - CNN
https://news.google.com/__i/rss/rd/articles/CBMiWWh0dHBzOi8vd3d3LmNubi5jb20vMjAyMi8wMi8wNy9zcG9ydC9sb3ZpZS1zbWl0aC1ob3VzdG9uLXRleGFucy1oZWFkLWNvYWNoLXNwdC9pbmRleC5odG1s0gEA?oc=5
Tue, 08 Feb 2022 02:26:00 GMT
----------
2022 Winter Olympics - What to watch for as U.S. women's hockey takes on Canada - ESPN
https://news.google.com/__i/rss/rd/articles/CBMib2h0dHBzOi8vd3d3LmVzcG4uY29tL29seW1waWNzL3N0b3J5L18vaWQvMzMyMzc5MTIvMjAyMi13aW50ZXItb2x5bXBpY3Mtd2F0Y2gtdGVhbS11c2Etd29tZW4taG9ja2V5LXRha2VzLWNhbmFkYdIBfGh0dHBzOi8vd3d3LmVzcG4uY29tL29seW1waWNzL3N0b3J5L18vaWQvMzMyMzc5MTIvMjAyMi13aW50ZXItb2x5bXBpY3Mtd2F0Y2gtdGVhbS11c2Etd29tZW4taG9ja2V5LXRha2VzLWNhbmFkYT9wbGF0Zm9ybT1hbXA?oc=5
Mon, 07 Feb 2022 22:49:33 GMT
----------
Super Bowl Predictions: Madden NFL 22 and Marshawn Lynch pick Bengals over Rams - Cincy Jungle
https://news.google.com/__i/rss/rd/articles/CBMidGh0dHBzOi8vd3d3LmNpbmN5anVuZ2xlLmNvbS8yMDIyLzIvNy8yMjkyMjQwNC9zdXBlci1ib3dsLXByZWRpY3Rpb25zLW1hZGRlbi1uZmwtMjItbWFyc2hhd24tbHluY2gtYmVuZ2Fscy1yYW1zLXBpY2tz0gEA?oc=5
Mon, 07 Feb 2022 22:28:15 GMT
----------
Odell Beckham Jr. receives chills when former Browns teammate Jarvis Landry voices support - Akron Beacon Journal
https://news.google.com/__i/rss/rd/articles/CBMikAFodHRwczovL3d3dy5iZWFjb25qb3VybmFsLmNvbS9zdG9yeS9zcG9ydHMvcHJvL2Jyb3ducy8yMDIyLzAyLzA3L2NsZXZlbGFuZC1icm93bnMtbmV3cy1vZGVsbC1iZWNraGFtLWpyLWphcnZpcy1sYW5kcnktc3VwZXItYm93bC1sdmkvNjY5MTA1NzAwMS_SASxodHRwczovL2FtcC5iZWFjb25qb3VybmFsLmNvbS9hbXAvNjY5MTA1NzAwMQ?oc=5
Tue, 08 Feb 2022 01:19:37 GMT
----------
SCRUB: Astra to launch its 1st rocket flight from Florida today. Here's how to watch it live - Space.com
https://news.google.com/__i/rss/rd/articles/CBMiR2h0dHBzOi8vd3d3LnNwYWNlLmNvbS9hc3RyYS1maXJzdC1mbG9yaWRhLWxhdW5jaC1lbGFuYS00MS1mZWJydWFyeS0yMDIy0gEA?oc=5
Mon, 07 Feb 2022 18:37:03 GMT
----------
Researchers use tiny magnetic swirls to generate true random numbers - Phys.org
https://news.google.com/__i/rss/rd/articles/CBMiQ2h0dHBzOi8vcGh5cy5vcmcvbmV3cy8yMDIyLTAyLXRpbnktbWFnbmV0aWMtc3dpcmxzLXRydWUtcmFuZG9tLmh0bWzSAQA?oc=5
Mon, 07 Feb 2022 17:38:22 GMT
----------
Ice age mammoth, woolly rhino and hyena bones uncovered in English town - Livescience.com
https://news.google.com/__i/rss/rd/articles/CBMiSWh0dHBzOi8vd3d3LmxpdmVzY2llbmNlLmNvbS9pY2UtYWdlLWFuaW1hbC1yZW1haW5zLWZvdW5kLWluLWRldm9uLWVuZ2xhbmTSAQA?oc=5
Mon, 07 Feb 2022 13:37:33 GMT
----------
Chimps Seen Performing First Aid on Themselves and Each Other - The Wall Street Journal
https://news.google.com/__i/rss/rd/articles/CBMiZmh0dHBzOi8vd3d3Lndzai5jb20vYXJ0aWNsZXMvY2hpbXBzLXNlZW4tcGVyZm9ybWluZy1maXJzdC1haWQtb24tdGhlbXNlbHZlcy1hbmQtZWFjaC1vdGhlci0xMTY0NDI1MzIyNNIBAA?oc=5
Mon, 07 Feb 2022 17:00:00 GMT
----------
New York Deer Infected With Omicron, Study Finds - The New York Times
https://news.google.com/__i/rss/rd/articles/CBMiT2h0dHBzOi8vd3d3Lm55dGltZXMuY29tLzIwMjIvMDIvMDcvaGVhbHRoL29taWNyb24tZGVlci1zdGF0ZW4taXNsYW5kLWNvdmlkLmh0bWzSAQA?oc=5
Tue, 08 Feb 2022 01:34:03 GMT
----------
Paralyzed patients walking in minutes: New electrode device a step forward in spinal injury care - USA TODAY
https://news.google.com/__i/rss/rd/articles/CBMicmh0dHBzOi8vd3d3LnVzYXRvZGF5LmNvbS9zdG9yeS9uZXdzL2hlYWx0aC8yMDIyLzAyLzA3L3BhcmFseXNpcy1zcGluYWwtY29yZC1pbmp1cnktZWxlY3Ryb2RlLXRyZWF0bWVudC82Njg5MTgzMDAxL9IBAA?oc=5
Mon, 07 Feb 2022 19:19:44 GMT
----------
California To End Statewide Mask Mandate Feb. 15 - CBS Los Angeles
https://news.google.com/__i/rss/rd/articles/CBMiW2h0dHBzOi8vbG9zYW5nZWxlcy5jYnNsb2NhbC5jb20vMjAyMi8wMi8wNy9jYWxpZm9ybmlhLXRvLWVuZC1zdGF0ZXdpZGUtbWFzay1tYW5kYXRlLWZlYi0xNS_SAQA?oc=5
Mon, 07 Feb 2022 23:24:00 GMT
----------
How Getting Extra Sleep May Help You Eat Fewer Calories - Healthline
https://news.google.com/__i/rss/rd/articles/CBMibmh0dHBzOi8vd3d3LmhlYWx0aGxpbmUuY29tL2hlYWx0aC1uZXdzL2hvdy1nZXR0aW5nLWFuLWV4dHJhLTEtMi1ob3Vycy1vZi1zbGVlcC1tYXktaGVscC15b3UtZWF0LWZld2VyLWNhbG9yaWVz0gEA?oc=5
Mon, 07 Feb 2022 23:44:56 GMT
----------

In [ ]:
#List
#write a python code to sum all the item in a list
def sum_list(items):
  sum_numbers=0
  for x in items:
    sum_numbers +=x
  return sum_numbers
print(sum_list([45,24,78,98,32]))
print(sum_list([78,-52,-89,178]))
print(sum_list([-25,-89,-12,-32]))

277
115
-158

In [ ]:
#write a python code to multiply all the item in a list
def multiply(a):
  if(len(a)==0):
    return 0
  multi=1
  for i in a:
    multi=multi*i
  return multi
a=[1,2,3,4,6,7,54]
print(multiply(a))

54432

In [ ]:
#write a python code to get the largest number in a list
def max_num_in_list(list):
  max=list[0]
  for a in list:
    if a>max:
       max=a
  return max
print(max_num_in_list([1,8,5,96,78,23]))

96

In [ ]:
#write a python code to remove all the duplicates from list
a=[41,52,41,85,63,23,12,85,63,52,41,23,54,13,23,1,3,2]
dup_items=set()
uniq_items=[]
for x in a:
  if x not in dup_items:
    uniq_items.append(x)
    dup_items.add(x)
print(dup_items)

{1, 2, 3, 41, 12, 13, 52, 85, 54, 23, 63}

In [ ]:
#Dictionaries
#Write a python code to sort(ascending and descending) a dictionary  by values
import operator
d ={1:2,3:4,4:3,2:1,0:9,6:4}
print("original dictionary:",d)
sorted_d=sorted(d.items(),key=operator.itemgetter(1))
print("dictionary in ascending order by value:",sorted_d)
sorted_d=(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print("dictionary in descending order by value:",sorted_d)

original dictionary: {1: 2, 3: 4, 4: 3, 2: 1, 0: 9, 6: 4}
dictionary in ascending order by value: [(2, 1), (1, 2), (4, 3), (3, 4), (6, 4), (0, 9)]
dictionary in descending order by value: [(0, 9), (3, 4), (6, 4), (4, 3), (1, 2), (2, 1)]

In [ ]:
#Write a python code to add a key to a dictionary
dict={1:25,65:12}
print(dict)
dict.update({89:60})
print(dict)

{1: 25, 65: 12}
{1: 25, 65: 12, 89: 60}

In [ ]:
#write a python code to concatenate following dictionaries to create new one
dic1={1:10,5:96,41:52}
dic2={2:3,5:63,51:56}
dic3={57:2,2:3,85:41}
dic4={ }
for d in (dic1,dic2,dic3):dic4.update(d)
print(dic4)

{1: 10, 5: 63, 41: 52, 2: 3, 51: 56, 57: 2, 85: 41}

In [ ]:
#write a python code to check whether a given key already exists in dictionary
d={1:10,2:52,8:96,62:63,45:62}
def is_key_present(x):
  if x in d:
    print("key is present in dictionary")
  else:
    print("key is not present in dictionary")
is_key_present(2)
is_key_present(96)

key is present in dictionary
key is not present in dictionary

In [ ]:
#tuples
#write a python code to create a tuple with different data types
sample_tuple=("string",3.2,1)
print(sample_tuple)

('string', 3.2, 1)

In [ ]:
#write a python code to add an item in a tuple
tuplex=(4,6,8,3,1)
print(tuplex)
tuplex=tuplex + (9,) #adding of new values
print(tuplex)
tuplex=tuplex[:5] +(14,15,78)  #adding a values in index 
print(tuplex)

(4, 6, 8, 3, 1)
(4, 6, 8, 3, 1, 9)
(4, 6, 8, 3, 1, 14, 15, 78)

In [ ]:
#write a python code to find repeated items of a tuples
tuplex=(2,4,5,6,4,7,4,4,7,4,8,5,4)
print(tuplex)
count=tuplex.count(4)
print(count)

(2, 4, 5, 6, 4, 7, 4, 4, 7, 4, 8, 5, 4)
6

In [ ]:
#write a python code to convert a list to a tuple
listx=[5,10,78,20,14]
print(listx)
tuplex=tuple(listx)
print(tuplex)

[5, 10, 78, 20, 14]
(5, 10, 78, 20, 14)

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 37 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 55.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=43d6b750b5615d1246b122e0ea430ced2f063dee26adf502df49d6b9d6b8ffba
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [4]:
#RDD i)Parallelized ii)Dataset in an Storage system
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
df = spark.sparkContext.parallelize([(12,20,35,'abc'),
(41,58,64,'def'),
(70,85,90,'ghi')]).toDF(['col1','col2','col3','col4'])
df.show()

+----+----+----+----+
|col1|col2|col3|col4|
+----+----+----+----+
|  12|  20|  35| abc|
|  41|  58|  64| def|
|  70|  85|  90| ghi|
+----+----+----+----+

In [5]:
#using createDataFrame() function
from pysparkimport sparkContext
student=spark.createDataFrame([
('009001','abhi','70%','EC'),('009002','Rahul','79%','CS'),
('009007','Raju','90%','CV'),('009008','Ramu','60%','MECH'),
],['RollNum','Name','Percentage','Department'])
student.show()

+-------+-----+----------+----------+
|RollNum| Name|Percentage|Department|
+-------+-----+----------+----------+
| 009001| abhi|       70%|        EC|
| 009002|Rahul|       79%|        CS|
| 009007| Raju|       90%|        CV|
| 009008| Ramu|       60%|      MECH|
+-------+-----+----------+----------+

In [13]:
#Various Operations In RDDs
#i)count() 
from pyspark.sql import SparkSession
words=spark.sparkContext.parallelize(
  ["Python","java","Hadoop","c","c++","Spark vs Hadoop","pyspark and spark"]
)
counts=words.count()
print("Number of elements present in RDD>>", (counts))

Number of elements present in RDD>> 7

In [15]:
#ii)collect() This function returns entire elements in the RDD
from pyspark.sql import SparkSession
words=spark.sparkContext.parallelize(
  ["Python","java","Hadoop","c","c++","Spark vs Hadoop","pyspark and spark"]
)
counts=words.collect()
print(counts)

['Python', 'java', 'Hadoop', 'c', 'c++', 'Spark vs Hadoop', 'pyspark and spark']

In [25]:
#iii)Map()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
num =spark.sparkContext.parallelize([5,5,4,3,9,2])
num.collect()

[5, 5, 4, 3, 9, 2]

In [26]:
num.map(lambda a : a*2).collect()

[10, 10, 8, 6, 18, 4]

In [28]:
num.map(lambda a : pow(a,2)).collect()

[25, 25, 16, 9, 81, 4]

In [29]:
names=spark.sparkContext.parallelize(["Dell","HP","IPad","Lenovo"])

In [30]:
names.map(lambda a : "Mr. " +a).collect()

['Mr. Dell', 'Mr. HP', 'Mr. IPad', 'Mr. Lenovo']

In [31]:
#Filter
num.collect()

[5, 5, 4, 3, 9, 2]

In [32]:
num.filter(lambda x : x%2 ==0).collect()

[4, 2]

In [33]:
names.collect()

['Dell', 'HP', 'IPad', 'Lenovo']

In [35]:
names.filter(lambda x : "D" in x).collect()

['Dell']

In [36]:
#union
num.collect()

[5, 5, 4, 3, 9, 2]

In [37]:
num2 =spark.sparkContext.parallelize([7,8,6,2,4,5,1])
num2.collect()

[7, 8, 6, 2, 4, 5, 1]

In [38]:
num2.union(num).collect()

[7, 8, 6, 2, 4, 5, 1, 5, 5, 4, 3, 9, 2]

In [39]:
type(num2)

pyspark.rdd.RDD

In [41]:
#PySpark SQL
from pyspark.sql import SparkSession
spark=SparkSession.builder.getOrCreate()

In [43]:
#Pyspark Dataframe
from datetime import datetime , date
import pandas as pd
from pyspark.sql import Row

df=spark.createDataFrame([
 Row(a=1, b=2, c="string1", d=date(2000,1,1),e=datetime(2000,1,1, 12,0)),
 Row(a=2, b=3, c="string2", d=date(2000,2,1),e=datetime(2000,2,1, 11,0)),
 Row(a=4, b=5, c="string3", d=date(2000,3,1),e=datetime(2000,3,1, 12,0))                        
])
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [50]:
#create the pyspark DataFrame with an explicit schema
df = spark.createDataFrame([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 2, 1, 11, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 3, 1, 12, 0))
], schema='a long, b double, c string, d date, e timestamp')
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [52]:
#Create a pyspark dataframe from a pandas dataframe
pandas_df= pd.DataFrame({
    'a':[1,2,3],
    'b':[2,3,4],
    'c':['string1','string2','string3'],
    'd':[date(2000,1,1),date(2000,2,1),date(2000,3,1)],
    'e':[datetime(2000,1,1, 12,0),datetime(2000,2,1, 11,0),datetime(2000,3,1, 12,0)]
})
df=spark.createDataFrame(pandas_df)
df

DataFrame[a: bigint, b: bigint, c: string, d: date, e: timestamp]

In [53]:
#create a Pyspark dataframe from an RDD
rdd=spark.sparkContext.parallelize([
    (1, 2., 'string1', date(2000, 1, 1), datetime(2000, 1, 1, 12, 0)),
    (2, 3., 'string2', date(2000, 2, 1), datetime(2000, 2, 1, 11, 0)),
    (3, 4., 'string3', date(2000, 3, 1), datetime(2000, 3, 1, 12, 0))                                   
])
df =spark.createDataFrame(rdd,schema=['a','b','c','d','e'])
df

DataFrame[a: bigint, b: double, c: string, d: date, e: timestamp]

In [55]:
df.show()

df.printSchema()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|
|  3|4.0|string3|2000-03-01|2000-03-01 12:00:00|
+---+---+-------+----------+-------------------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [57]:
#Viewing data
df.show(2)

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|
+---+---+-------+----------+-------------------+
only showing top 2 rows

In [60]:
#To view rows in vertically
df.show(3, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 2
 b   | 3.0
 c   | string2
 d   | 2000-02-01
 e   | 2000-02-01 11:00:00
-RECORD 2------------------
 a   | 3
 b   | 4.0
 c   | string3
 d   | 2000-03-01
 e   | 2000-03-01 12:00:00

In [63]:
#to see schema and column name
df.columns

['a', 'b', 'c', 'd', 'e']

In [64]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)
 |-- d: date (nullable = true)
 |-- e: timestamp (nullable = true)

In [65]:
#Show the summary of the dataframe
df.select("a","b","c").describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|2.0|3.0|   null|
| stddev|1.0|1.0|   null|
|    min|  1|2.0|string1|
|    max|  3|4.0|string3|
+-------+---+---+-------+

In [66]:
#DataFrame.collect() >collects the distributed data to the driver side as the local in python
df.collect()

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 2, 1, 11, 0)),
 Row(a=3, b=4.0, c='string3', d=datetime.date(2000, 3, 1), e=datetime.datetime(2000, 3, 1, 12, 0))]

In [67]:
#in order to avoid throwing an out of memory exception we can use DataFrane.take( )  or DataFrame.tail( )
df.take(2)

[Row(a=1, b=2.0, c='string1', d=datetime.date(2000, 1, 1), e=datetime.datetime(2000, 1, 1, 12, 0)),
 Row(a=2, b=3.0, c='string2', d=datetime.date(2000, 2, 1), e=datetime.datetime(2000, 2, 1, 11, 0))]

In [68]:
df.toPandas()

   a    b        c           d                   e
0  1  2.0  string1  2000-01-01 2000-01-01 12:00:00
1  2  3.0  string2  2000-02-01 2000-02-01 11:00:00
2  3  4.0  string3  2000-03-01 2000-03-01 12:00:00

In [70]:
import pandas as pd
pd.read_csv("/content/sample_data/california_housing_test.csv","r")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only
  exec(code_obj, self.user_global_ns, self.user_ns)

      longitude,"latitude","housing_median_age","total_  ...  ooms","population","households","median_income","median_house_value"
0     -122.050000,37.370000,27.000000,3885.000000,66...  ...                                                NaN
1     -118.300000,34.260000,43.000000,1510.000000,31...  ...                                                NaN
2     -117.810000,33.780000,27.000000,3589.000000,50...  ...                                                NaN
3     -118.360000,33.820000,28.000000,67.000000,15.0...  ...                                                NaN
4     -119.670000,36.330000,19.000000,1241.000000,24...  ...                                                NaN
...                                                 ...  ...                                                ...
2995  -119.860000,34.420000,23.000000,1450.000000,64...  ...                                                NaN
2996  -118.140000,34.060000,27.000000,5257.000000,10...  ...                                                NaN
2997  -119.700000,36.300000,10.000000,956.000000,201...  ...                                                NaN
2998  -117.120000,34.100000,40.000000,96.000000,14.0...  ...                                                NaN
2999  -119.630000,34.420000,42.000000,1765.000000,26...  ...                                                NaN

[3000 rows x 3 columns]

In [72]:
#Selecting and Accessing the Data
df.a
df.b

Column<'b'>

In [73]:
#most of column-wise opeartions return Columns
from pyspark.sql import Column
from pyspark.sql.functions import upper

type(df.c) == type(upper(df.c)) ==type(df.c.isNull())

True

In [74]:
df.select(df.c).show()

+-------+
|      c|
+-------+
|string1|
|string2|
|string3|
+-------+

In [75]:
#Assign new column instance
df.withColumn('upper_c',upper(df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|upper_c|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  2|3.0|string2|2000-02-01|2000-02-01 11:00:00|STRING2|
|  3|4.0|string3|2000-03-01|2000-03-01 12:00:00|STRING3|
+---+---+-------+----------+-------------------+-------+

In [78]:
#To select a sunset of rows ,use DataFrame.filter()
df.filter(df.c=="string1").show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [82]:
#Applying a function
#Pyspark support various UDFs and API to allow users to execute python native function
#Pandas UDFs and Pandas Functions APIs
import pandas
from pyspark.sql.functions import pandas_udf

@pandas_udf ('long')
def pandas_plus_one(series: pd.Series) -> pd.Series:
  #simply pluse one by using pandas series
    return series +5
df.select(pandas_plus_one(df.b)).show()

+------------------+
|pandas_plus_one(b)|
+------------------+
|                 7|
|                 8|
|                 9|
+------------------+

In [84]:
import pandas as pd
from pyspark.sql.functions import pandas_udf
@pandas_udf('string')
def pandas_plus_one(series:pd.Series)->pd.Series:
    return series+'hello'
df.select(pandas_plus_one(df.c)).show()

+------------------+
|pandas_plus_one(c)|
+------------------+
|      string1hello|
|      string2hello|
|      string3hello|
+------------------+

In [85]:
#Grouping Data
df =spark.createDataFrame([
  ['red','banana',1,10],['blue','banana',2,20],['red','apple',3,30],
  ['blue','grape',4,40],['red','apple',5,50],['black','grape',6,60],
  ['red','banana',7,70],['red','grape',8,80],['blue','apple',7,80]], schema=['colour','fruit','v1','v2']
)
df.show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
+------+------+---+---+

In [86]:
#Grouping and then applying the avg() function to the resulting grouping
df.groupby('colour').avg().show()

+------+-----------------+------------------+
|colour|          avg(v1)|           avg(v2)|
+------+-----------------+------------------+
|   red|              4.8|              48.0|
|  blue|4.333333333333333|46.666666666666664|
| black|              6.0|              60.0|
+------+-----------------+------------------+

In [87]:
df.groupby("fruit").avg().show()

+------+------------------+------------------+
| fruit|           avg(v1)|           avg(v2)|
+------+------------------+------------------+
| grape|               6.0|              60.0|
| apple|               5.0|53.333333333333336|
|banana|3.3333333333333335|33.333333333333336|
+------+------------------+------------------+

In [90]:
#apply a python native function againest each group by using pandas API
def pluse_mean(pandas_df):
    return pandas_df.assign(v2=pandas_df.v2  - pandas_df.v2.mean()) #for v2 column
df.groupby('colour').applyInPandas(pluse_mean , schema=df.schema).show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
| black| grape|  6|  0|
|  blue|banana|  2|-26|
|  blue| grape|  4| -6|
|  blue| apple|  7| 33|
|   red|banana|  1|-38|
|   red| apple|  3|-18|
|   red| apple|  5|  2|
|   red|banana|  7| 22|
|   red| grape|  8| 32|
+------+------+---+---+

In [91]:
#apply a python native function againest each group by using pandas API
def pluse_mean(pandas_df):
    return pandas_df.assign(v1=pandas_df.v1  - pandas_df.v1.mean()) #for v1 column
df.groupby('colour').applyInPandas(pluse_mean , schema=df.schema).show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
| black| grape|  0| 60|
|  blue|banana| -2| 20|
|  blue| grape|  0| 40|
|  blue| apple|  2| 80|
|   red|banana| -3| 10|
|   red| apple| -1| 30|
|   red| apple|  0| 50|
|   red|banana|  2| 70|
|   red| grape|  3| 80|
+------+------+---+---+

In [99]:
#Co-grouping and applying function
df1 = spark.createDataFrame(
    [(20000101, 1, 1.0), (20000101, 2, 2.0), (20000102, 1, 3.0), (20000102, 2, 4.0)],
    ('time', 'id', 'v1'))

df2 = spark.createDataFrame(
    [(20000101, 1, 'x'), (20000101, 2, 'y')],
    ('time', 'id', 'v2'))

def asof_join(l, r):
    return pd.merge_asof(l, r, on='time', by='id')

df1.groupby('id').cogroup(df2.groupby('id')).applyInPandas(
    asof_join, schema='time int, id int, v1 double, v2 string').show()

+--------+---+---+---+
|    time| id| v1| v2|
+--------+---+---+---+
|20000101|  1|1.0|  x|
|20000102|  1|3.0|  x|
|20000101|  2|2.0|  y|
|20000102|  2|4.0|  y|
+--------+---+---+---+

In [103]:
#Getting Data in/out
#CSV
df.write.csv('foo.csv',header=True)
spark.read.csv('foo.csv',header=True).show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
+------+------+---+---+

In [104]:
#Parquet
df.write.parquet('bar.parquet')
spark.read.parquet('bar.parquet').show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
+------+------+---+---+

In [106]:
#ORC
df.write.orc('zoo.orc')
spark.read.orc('zoo.orc').show()

+------+------+---+---+
|colour| fruit| v1| v2|
+------+------+---+---+
|   red| apple|  5| 50|
| black| grape|  6| 60|
|   red|banana|  7| 70|
|   red| grape|  8| 80|
|  blue| apple|  7| 80|
|   red|banana|  1| 10|
|  blue|banana|  2| 20|
|   red| apple|  3| 30|
|  blue| grape|  4| 40|
+------+------+---+---+